{% extends 'base.html' %}
{% block content %}

{% for i in appointments %}
<section class="cards_sections" style="display: flex; justify-content: center; align-items: center; margin: 70px;">  

 
  
        <h5>{{ i.department }}</h5>
       <div class="cards_section_inner appointment-form" data-aos="fade-up" style="  width: 300px;
        height:300px;
        display: flex
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;">

        <h5>{{ i.department }}</h5>
        <h5>{{ i.name }} , {{ i.date }}</h5>
        <h6>{{ i.doctor }}</h6>
        <p>{{ i.message }}</p>
        <a href="{% url 'update_appnt' i.id %}"><button>Update</button></a>
        <a href="{% url 'delete_appnt' i.id %}"><button>Delete</button></a>

    </div>
</section>

{% endfor %}

{% endblock %}